<div class="icon-image-guide-container hide">
    <h1 class="close-account-help">X</h1>
     <ol>
       <h1>This is for changing your user icon</h1>
       <h2>1: Go to <span> <strong><a href="https://imgbox.com/">imgbox.com</a> </span></strong></p>
       <h2>2: Select an image saved locally from your computer</h2>
       <h2>3: Upload image on Imgbox and select the 'src' text from the html code</h2>
       <h2>4: Copy this text into the image link blox for your article</h2>
     </ol>
   
     <br>
     <img src="/public/images/hosting-images.gif" alt="">
 </div>