<div class="account">
    <h1 class="username">Username: <%= userName %></h1>
    <h1>icon: </h1>
    <img src=<%= icon %> alt="">
    <form action="add-user-icon" method="post">
        <div class="form-group">
            <label for="icon">Image</label>
            <input type="input" name="icon" placeholder="Add icon link">
        </div>          
        <button type="submit" name="submit">Add Icon</button>
    </form>
</div>