.action-button-container {
    @include flex-row(column, space-between);
}

button {
    width: 125px;
    background-color: $orange;
    border: 0;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px 25px;
    border: 1px $orange solid;
    &:hover {
        background-color: $navy;
        color: $orange;
        margin-left: 0;
        cursor: pointer;
    }
}

.small-button {
    width: 50px;
    padding: 15px;
}