.top-left {
    position: fixed;
    z-index: 1;
    width: 0;
    background-color: $navy;
    padding: 10px 0 0 10px;
}

.logo-account-container {
    height: 100%;
    position: sticky;
    top: 10px;
}

.account-container {
    @include flex-row(column, space-between);
    // margin: 0 30px 15px 15px;
    // padding: 0 15px;
    max-width: 250px;
    white-space: nowrap;
    // border: solid 1px $orange;
    // border-radius: 50px;
    .dropdown-switch {
        .account-details {
            @include flex-row(row, space-around);
            align-items: center;
            justify-content: left;
            width: 100%;
            margin-top: 0;
            text-align: left;
            img {
                border-radius: 50%;
                width: 50px;
                padding-right: 15px; 
        }
        button {
                margin-bottom: 20px;
        }
    }
}

} 
.change-icon-form {
    @include flex-row(column, space-around);
}

.fa-caret-up {
    position: relative;
    left: -20px;
}   

.account-help {
    padding-left: 5px;
    :hover {
    cursor: pointer;
    }
}

.account-container:hover {
    // box-shadow: 0 0 10px $orange;
    cursor: pointer;
}

.logo {
    position: relative;
    top: 0;
    font-size: 2em;
    letter-spacing: 0.2em;
    font-family: $tenorSans;
    padding: 15px 0 0 5px;
    height: 52px;
    width: 0;
    min-width: 0;
    white-space: nowrap;
    a {
        p {
            margin: 0;
        }
    }
}

.logo-hide {
    height: auto;
    position: relative;
    padding: 0;
    animation-name: logo-hide;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}

@keyframes logo-hide {
    from {
        height: 52px;
        top: 0
    }
    to {
        height: 0;
        top: -52px;
    }
}


.username-hide {
    width: auto;
    position: relative;
    top: 0;
    animation-name: username-hide;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes username-hide {
    from {
        width: 175px;
        visibility: hidden;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    to {
        width: 0;
        visibility: hidden;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.account-small {
    animation-name: account-small;
    // animation-duration: 1s;
    animation-fill-mode: forwards;
    position: relative;
    img {
        padding-right: 0 !important;
    }
}

@keyframes account-small {
    from {
        border: 1px $orange solid;
    }
    to {
        border: 1px $navy solid;
    }
}