.image-hosting-guide-container, .icon-image-guide-container{
    background-color: $navy;
    height: 90%;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 0.7rem;
    box-shadow: 0 0 30px $orange;
    border-radius: 25px;
    .close-account-help {
        position: absolute;
        right: 30px;
        top: 30px;
        padding: 10px;
        text-align: end;
        margin: -10px;
    }
    ol {
        padding-left: 0;
        width: 90%;
    }
    img {
        width: 60%;
        min-width: 200px;
    }
}

.close:hover {
    cursor: pointer;
    font-size: 2.2em;
}

.help {
    padding-left: 5px;
    :hover {
    cursor: pointer;
    }
}