<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- displays site properly based on user's device -->
  <link rel="stylesheet" href="/public/styles/main.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Tenor+Sans&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/c03ec31dc2.js" crossorigin="anonymous"></script>
  <title>Social Blog</title>
</head>


<body>
    <div class="register-container">
        <form action="/register" method="POST">
          <p>For ease of use and for the purposes of demonstrating the site, emails don't need to be real and passwords can be in any format and length. The site uses bcrypt and passportjs for password protection. </p>
          <p>A guide to this site exists here <strong><a href="https://github.com/Tom91011/Social-Blog">https://github.com/Tom91011/Social-Blog</a></strong></p>
            <div class="form-group">
              <label for="name">Username</label>
              <input type="text" class="form-control" name="name">
            </div>
            <div class="form-group">
              <label for="email">email</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password">
              </div>
              <div class="form-group">
                <label for="password-confirm">Confirm Password</label>
                <input type="password" class="form-control" name="confirm">
              </div>
            <button type="submit" class="btn btn-dark">Register</button>
          </form>

    </div>
</body>

</html>