.wrapper {
    opacity: 0;
    animation-name: show-articles;
    animation-duration: 0.2s;
    animation-delay: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes show-articles {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

.wrapper-inner {
    @include flex-row(row, space-between); 
    width: 70%;
}

.article-container {
    @include flex-row(column, center);
    position: relative;
    padding-top: 130px;
    max-width: 1000px;
    width: 60%;
    color: $primaryBeige;
    .article-buttons {
        @include flex-row(row, flex-start);
        button {
            margin-right: 10px;
            width: 100px;
        }
        
    }
    .article-content {
        a {
            color: black;
        }
        .author-image-icon {
            border-radius: 50%
        }
    }
}

.right-column {
    @include flex-row(column, flex-start);
    position: fixed;
    right: 0;
    box-sizing: border-box;
    margin: 0 50px;
    padding-left: 20px;
    border-left: 1px solid rgba(236,219,186, 0.8);
    height: 100%;
    width: min-content;
    .comments {
        overflow: auto;
        position: sticky;
        padding-right: 20px;     
        .write-comment-container {
            .submit-comment-form {
                
                textarea {
                    padding: 12px 20px;
                    box-sizing: border-box;
                    border: 2px solid $orange;
                    border-radius: 10px;
                    background-color: $primaryBeige;
                    resize: none;
                }
            }
        }
        .user-comments {
            width: 100%;
            .comment {
                margin-top: 20px;
                border-bottom: 1px solid $orange;
                .commenter {
                    @include flex-row(row, flex-start);
                    .commenter-icon {
                        img {
                            width: 50px;
                            border-radius: 50%;
                        }
                    }
                    .commenter-details {
                        font-size: 1rem;
                        margin: 0 15px;
                        p {
                            margin: 0 0 5px 0;
                        }
                        h3 {
                            margin: 0 0 5px 0;
                        }
                    }
                }
              
            }
        }
    }
}


textarea:focus-visible {
    border: 2px solid $orange;
}