.article-wrapper {
    @include flex-row(row, space-between); 
    height: 100%;
}

.article-container {
    position: relative;
    min-width: 300px;
    width: 70%;
    margin: auto;
    padding-left: 50px;
    padding-right: 20px;
    color: $primaryBeige;
    .article-buttons {
        @include flex-row(row, flex-start);
        width: 80%;
        margin: auto;
        button {
            margin-right: 10px;
            width: 100px;
        }        
    }
    .article-content {
        width: 80%;
        margin: auto;
        .article-image {
            max-width: 60%;
            height: auto;
        }
        a {
            color: black;
        }
        .author-image-icon {
            border-radius: 50%
        }
    }
}

@media only screen and (max-width: 1000px) {
    .article-container {
      padding-right: 0;
      margin: auto;
      padding-left: 30px;
      width: 80%;
    }
  }


.right-column {
    @include flex-row(row, flex-start);
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    margin: 0 0 10px 50px;
    padding-left: 20px;
    padding-right: 10px;
    border-left: 1px solid rgba(236,219,186, 0.8);
    border-bottom: 1px solid rgba(236,219,186, 0.8);
    border-radius: 0 0 0 5px;
    height: 100vh;
    width: 300px;
    max-width: 18%;
    font-size: 0.8rem;
    .comments {
        height: 98%;
        overflow: auto;
        position: sticky;
        padding-right: 20px;
        .comments-title {
            margin-top: 10px;
        }         
        .write-comment-container {
            position: sticky;
            top: 0;
            padding: 10px 0;
            background-color: $navy;
            border-bottom: 2px solid $orange;
            border-bottom: 10px solid $navy;
            .submit-comment-form {    
                @include flex-row(column, flex-start);            
                textarea {
                    padding: 12px 20px;
                    box-sizing: border-box;
                    border: 2px solid $orange;
                    border-radius: 10px;
                    background-color: $primaryBeige;
                    resize: none;
                    width: 100%;
                }
            }
        }
        .user-comments {
            width: 100%;
            .comment {
                margin-top: 20px;
                border-bottom: 1px solid $orange;
                .commenter {
                    @include flex-row(row, flex-start);
                    .commenter-icon {
                        img {
                            width: 50px;
                            border-radius: 50%;
                        }
                    }
                    .commenter-details {
                        font-size: 1rem;
                        margin: 0 15px;
                        p {
                            margin: 0 0 5px 0;
                        }
                        h3 {
                            margin: 0 0 5px 0;
                        }
                    }
                }                        
            }           
        }
    }
}

.right-column-big {
    position: fixed;
    right: 0;
    background: $navy;
    max-width: 70%;
    width: 400px;
}

.hide-comments {
    visibility: hidden;
    width: 0;
}

.comment:last-child {
    box-sizing: border-box;
    margin-bottom: 10px;
}    

textarea:focus-visible {
    border: 2px solid $orange;
}

.comments::-webkit-scrollbar {
    width: 5px;
}

.comments::-webkit-scrollbar-track{
    border-radius: 10px;
    animation-fill-mode: forwards;
    animation-delay: 2.4s;
}
.comments::-webkit-scrollbar-thumb {
    background: $primaryBeige; 
    border-radius: 10px;
}

.comments::-webkit-scrollbar-thumb:hover {
    background: $orange; 
}