.login-container, .register-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    form {
        width: 20em;
        .form-group {
            @include flex-row(column, flex-start);
            padding: 5px 0;
            width: 100%;
        }
        input {
            margin-top: 5px;
            width: 100%;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid $orange;
            border-radius: 10px;
            background-color: $primaryBeige;
        }
        label {
            font-size: 2em;
        }
        button {
            width: 100%;
            margin-top: 15px;
        }
    }
}

