.hide {
  opacity: 0;
  display: none;
}

.hidden {
  visibility: hidden;
}

body, html {
  height: 1500px;
  font-family: "Barlow", "sans-serif";
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  background-color: #2d4263;
  color: #c84b31;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  overflow: visible;
  animation-name: show-scrollbar;
  animation-fill-mode: forwards;
  animation-delay: 2.4s;
}

body::-webkit-scrollbar {
  width: 15px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  animation-fill-mode: forwards;
  animation-delay: 2.4s;
}

body::-webkit-scrollbar-thumb {
  background: #ecdbba;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #c84b31;
}

.comments::-webkit-scrollbar {
  width: 15px;
}

.comments::-webkit-scrollbar-track {
  border-radius: 10px;
  animation-fill-mode: forwards;
  animation-delay: 2.4s;
}

.comments::-webkit-scrollbar-thumb {
  background: #ecdbba;
  border-radius: 10px;
}

.comments::-webkit-scrollbar-thumb:hover {
  background: #c84b31;
}

@keyframes show-scrollbar {
  from {
    overflow: hidden;
  }
  to {
    overflow: visible;
  }
}
a:visited {
  text-decoration: none;
  color: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4em;
  letter-spacing: 0.2em;
  font-family: "Tenor Sans", "sans-serif";
  text-align: center;
  height: 100%;
  width: 105%;
  background-color: #2d4263;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transform: translateY(0);
  overflow: hidden;
  animation-name: hideLoader;
  animation-duration: 1.3s;
  animation-delay: 1.6s;
  animation-fill-mode: forwards;
  z-index: 2;
}
.loading-screen p {
  width: 500px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading-screen p span {
  letter-spacing: 10px;
  width: min;
}
.loading-screen p .show {
  animation-name: letterFade;
  animation-duration: 0.1s;
}

.loader {
  border: 16px solid #ecdbba;
  border-radius: 50%;
  border-top: 16px solid #c84b31;
  width: 600px;
  height: 600px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
  animation-duration: 2s;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hideLoader {
  from {
    height: 100%;
    opacity: 1;
  }
  to {
    height: 0;
    opacity: 0;
  }
}
button {
  width: 125px;
  background-color: #c84b31;
  border: 0;
  border-radius: 10px;
  margin: 5px 0;
  padding: 10px 25px;
  border: 1px #c84b31 solid;
}
button:hover {
  background-color: #2d4263;
  color: #c84b31;
  margin-left: 0;
  cursor: pointer;
}

.account-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 30px 15px 15px;
  padding: 0 15px;
  max-width: 250px;
  white-space: nowrap;
  border: solid 1px #c84b31;
  border-radius: 50px;
}
.account-container .dropdown-switch .account-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  align-items: center;
  justify-content: left;
  width: 100%;
  margin-top: 0;
  text-align: left;
}
.account-container .dropdown-switch .account-details img {
  border-radius: 50%;
  width: 50px;
  padding-right: 15px;
}
.account-container .dropdown-switch .account-details i {
  margin: 2px 0 0 10px;
}
.account-container .dropdown-switch .account-details .fa-caret-up {
  position: relative;
  left: -20px;
}
.account-container .dropdown-switch button {
  margin-bottom: 20px;
}

.account-container:hover {
  box-shadow: 0 0 10px #c84b31;
}

.logo {
  font-size: 2em;
  letter-spacing: 0.2em;
  font-family: "Tenor Sans", "sans-serif";
  padding: 15px 0 0 30px;
  height: 52px;
  width: 0;
  min-width: 0;
  white-space: nowrap;
}
.logo a p {
  margin: 0;
}

.account-details:hover {
  cursor: pointer;
}

.wrapper .action-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding-left: 15px;
}
.wrapper .right-column {
  max-width: 20%;
}
.wrapper .account-container {
  width: 10%;
  min-width: 220px;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 15px;
  width: 100%;
}

.articles-container {
  position: relative;
  left: -30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin: 50px auto 20px auto;
  padding-bottom: 50px;
  width: 1350px;
  opacity: 0;
  animation-name: show-articles;
  animation-duration: 0.6s;
  animation-delay: 2.3s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
  color: black;
}
.articles-container .article {
  margin: 15px;
  width: 380px;
  height: 510px;
}
.articles-container .article .card {
  background-color: #ecdbba;
  margin: 10px;
  border-radius: 10px;
  height: 100%;
}
.articles-container .article .card .card-inner {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
  width: 100%;
  border-radius: 10px;
  height: 100%;
}
.articles-container .article .card .card-inner:hover {
  box-shadow: 0 5px 20px black;
  cursor: pointer;
}
.articles-container .article .card .card-inner .card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  align-items: flex-end;
  padding: 15px;
  height: 55%;
  box-sizing: border-box;
}
.articles-container .article .card .card-inner .card-info .top-row-card {
  width: 100%;
  height: 170px;
}
.articles-container .article .card .card-inner .card-info .bottom-row-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-items: flex-end;
}
.articles-container .article .card .card-inner .card-info .bottom-row-card .author-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-items: flex-end;
}
.articles-container .article .card .card-inner .card-info .bottom-row-card .author-container .author-image {
  border-radius: 50%;
  width: 40px;
}
.articles-container .article .card .card-inner .card-info .bottom-row-card .author-container .author-info {
  padding-left: 15px;
}
.articles-container .article .card .card-inner .card-info .bottom-row-card .author-container .author-info h2 {
  margin: 0;
}
.articles-container .article .card .card-inner .card-info .bottom-row-card .author-container .author-info P {
  margin: 0;
}
.articles-container .article .card .card-inner .card-image {
  position: relative;
  width: 100%;
  transform: rotate(180deg);
}
.articles-container .article .card .card-inner .card-image .article-image {
  height: 280px;
  object-fit: cover;
  width: 100%;
  border-radius: 10px 10px 0 0;
  display: block;
  transform: rotate(180deg);
}
.articles-container .article .card .card-inner .comments {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.articles-container .article .card .card-inner .comments P {
  margin: 0 5px;
}

.overlay {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: center;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
  border-radius: 0 0 10px 10px;
  background: #ecdbba;
}
.overlay .overlay-text {
  opacity: 0.7;
  white-space: wrap;
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  padding: 5px 10px;
  transform: rotate(180deg);
  text-align: left;
}

.article:hover .overlay {
  bottom: 0;
  height: 100%;
}

@keyframes show-articles {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.wrapper {
  opacity: 0;
  animation-name: show-articles;
  animation-duration: 0.2s;
  animation-delay: 0.2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes show-articles {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.wrapper-inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 70%;
}

.article-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding-top: 130px;
  max-width: 1000px;
  width: 60%;
  color: #ecdbba;
}
.article-container .article-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.article-container .article-buttons button {
  margin-right: 10px;
  width: 100px;
}
.article-container .article-content a {
  color: black;
}
.article-container .article-content .author-image-icon {
  border-radius: 50%;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  right: 0;
  box-sizing: border-box;
  margin: 0 50px;
  padding-left: 20px;
  border-left: 1px solid rgba(236, 219, 186, 0.8);
  height: 100%;
  width: min-content;
}
.right-column .comments {
  overflow: auto;
  position: sticky;
  padding-right: 20px;
}
.right-column .comments .write-comment-container .submit-comment-form textarea {
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #c84b31;
  border-radius: 10px;
  background-color: #ecdbba;
  resize: none;
}
.right-column .comments .user-comments {
  width: 100%;
}
.right-column .comments .user-comments .comment {
  margin-top: 20px;
  border-bottom: 1px solid #c84b31;
}
.right-column .comments .user-comments .comment .commenter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.right-column .comments .user-comments .comment .commenter .commenter-icon img {
  width: 50px;
  border-radius: 50%;
}
.right-column .comments .user-comments .comment .commenter .commenter-details {
  font-size: 1rem;
  margin: 0 15px;
}
.right-column .comments .user-comments .comment .commenter .commenter-details p {
  margin: 0 0 5px 0;
}
.right-column .comments .user-comments .comment .commenter .commenter-details h3 {
  margin: 0 0 5px 0;
}

textarea:focus-visible {
  border: 2px solid #c84b31;
}

.login-container, .register-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-container form, .register-container form {
  width: 20em;
}
.login-container form .form-group, .register-container form .form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 0;
  width: 100%;
}
.login-container form input, .register-container form input {
  margin-top: 5px;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #c84b31;
  border-radius: 10px;
  background-color: #ecdbba;
}
.login-container form label, .register-container form label {
  font-size: 2em;
}
.login-container form button, .register-container form button {
  width: 100%;
  margin-top: 15px;
}

.edit-wrapper .action-button-container {
  margin-left: 30px;
}
.edit-wrapper .edit-article-container, .edit-wrapper .new-article-container {
  position: relative;
  margin: auto;
  max-width: 1200px;
  width: 60%;
}
.edit-wrapper .form-group {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px 0;
  width: 100%;
}
.edit-wrapper .form-group label {
  font-size: 1.2em;
}
.edit-wrapper .form-group input {
  margin-top: 5px;
  width: 100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #c84b31;
  border-radius: 10px;
  background-color: #ecdbba;
}
.edit-wrapper .form-group textarea {
  margin-top: 5px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #c84b31;
  border-radius: 10px;
  background-color: #ecdbba;
  height: 100%;
  width: 100%;
  overflow: visible;
}
.edit-wrapper .checkbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: center;
}
.edit-wrapper .checkbox input {
  width: 10px;
  margin-left: 15px;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #c84b31;
}

textarea::-webkit-scrollbar {
  width: 15px;
}

textarea::-webkit-scrollbar-track {
  border-radius: 10px;
  animation-fill-mode: forwards;
  animation-delay: 2.4s;
}

textarea::-webkit-scrollbar-thumb {
  background: #c84b31;
  border-radius: 10px;
}

/*# sourceMappingURL=main.css.map */
