$primaryBeige: rgb(236,219,186);
$navy: rgb(45,66,99);
$oliveGreen: rgb(200,75,49);
$orange: rgb(200,75,49);
$black: rgb(25,25,25);

$barlow: 'barlow';

@font-face {
    font-family: 'Barlow', sans-serif;
} 
