.hide {
    opacity: 0;
    display: none;
}

.hidden {
    visibility: hidden;
}

body, html {
    height: 1500px;
    font-family: $barlow;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    background-color: $navy;
    color: $orange;
}

.wrapper {
    height: 100%;
    // max-width: 70%;
    @include flex-row(row, space-between);
    overflow: visible;
    animation-name: show-scrollbar;
    animation-fill-mode: forwards;
    animation-delay: 2.4s;
}

body::-webkit-scrollbar {
    width: 15px;
  }

body::-webkit-scrollbar-track{
    border-radius: 10px;
    animation-fill-mode: forwards;
    animation-delay: 2.4s;
}

body::-webkit-scrollbar-thumb {
    background: $primaryBeige; 
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background: $orange; 
}

.comments::-webkit-scrollbar {
    width: 15px;
  }

.comments::-webkit-scrollbar-track{
    border-radius: 10px;
    animation-fill-mode: forwards;
    animation-delay: 2.4s;
}
.comments::-webkit-scrollbar-thumb {
    background: $primaryBeige; 
    border-radius: 10px;
}

.comments::-webkit-scrollbar-thumb:hover {
    background: $orange; 
}


@keyframes show-scrollbar {
    from {overflow: hidden;}
    to {overflow: visible;}
}

a:visited { 
    text-decoration: none; 
    color: inherit; 
}

a {
    text-decoration: none; 
    color: inherit; 
}





  


