.loading-screen {
    font-size: 2.4em;
    letter-spacing: 0.2em;
    font-family: $tenorSans;
    text-align: center;
    height: 100%;
    width: 105%;
    background-color: $navy;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(0);
    overflow: hidden; 
    animation-name: hideLoader;
    animation-duration: 1.2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    z-index: 2;
    p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        span {
            letter-spacing: 10px; 
            width: min;          
        }     
        .show {
            animation-name: letterFade;
            animation-duration: 0.1s;
        }  
    }
}

@keyframes hideLoader {
    from {height: 100%}
    to {height: 0;}
}

@keyframes letterFade {
    from {opacity: 0;}
    to {opacity: 1;}
}

button {
    width: 120px;
    background-color: $orange;
    border: 0;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px 25px;
    border: 1px $orange solid;
    &:hover {
        background-color: $navy;
        color: $orange;
        margin-left: 0;
        cursor: pointer;
    }
}

.account-container {
    @include flex-row(column, space-between);
    padding: 0 15px;
    max-width: 200px;
    white-space: nowrap;
    .dropdown-switch {
        .account-details {
            @include flex-row(row, space-around);
            align-items: center;
            justify-content: left;
            max-width: 600px;
            margin-top: 0;
            text-align: left;
            img {
                border-radius: 50%;
                width: 50px;
                padding: 0 15px;            
            }        
        }
    }
}

.logo {
    font-size: 2em;
    letter-spacing: 0.2em;
    font-family: $tenorSans;
    padding: 15px 0 0 30px;
    width: 0;
    min-width: 0;
    white-space: nowrap;
    p {
        margin: 0;
    }
}

.account-details:hover {
    cursor: pointer;
}