.loading-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4em;
    letter-spacing: 0.2em;
    font-family: $tenorSans;
    text-align: center;
    height: 100%;
    width: 105%;
    background-color: $navy;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateY(0);
    overflow: hidden; 
    animation-name: hideLoader;
    animation-duration: 1.3s;
    animation-delay: 1.6s;
    animation-fill-mode: forwards;
    z-index: 2;
    p {
        width: 500px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
        span {
            letter-spacing: 10px; 
            width: min;          
        }     
        .show {
            animation-name: letterFade;
            animation-duration: 0.1s;
        }  
    }
}

.loader {
    border: 16px solid $primaryBeige;
    border-radius: 50%;
    border-top: 16px solid $orange;
    width: 600px;
    height: 600px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    animation-duration: 2s;
    
  }
  
/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes hideLoader {
    from {
        height: 100%;
        opacity: 1;
    }
    to {
        height: 0;
        opacity: 0;
    }
}

button {
    width: 125px;
    background-color: $orange;
    border: 0;
    border-radius: 10px;
    margin: 5px 0;
    padding: 10px 25px;
    border: 1px $orange solid;
    &:hover {
        background-color: $navy;
        color: $orange;
        margin-left: 0;
        cursor: pointer;
    }
}

.account-container {
    @include flex-row(column, space-between);
    margin: 0 30px 15px 15px;
    padding: 0 15px;
    max-width: 250px;
    white-space: nowrap;
    border: solid 1px $orange;
    border-radius: 50px;
    .dropdown-switch {
        .account-details {
            @include flex-row(row, space-around);
            align-items: center;
            justify-content: left;
           width: 100%;
            margin-top: 0;
            text-align: left;
            img {
                border-radius: 50%;
                width: 50px;
                padding-right: 15px;            
            }  
            i {
                margin: 2px 0 0 10px;
            }
            .fa-caret-up {
                position: relative;
                left: -20px;
            }   
        }
        button {
                margin-bottom: 20px;
        }
    }
}

.account-container:hover {
    box-shadow: 0 0 10px $orange;
}

.logo {
    font-size: 2em;
    letter-spacing: 0.2em;
    font-family: $tenorSans;
    padding: 15px 0 0 30px;
    height: 52px;
    width: 0;
    min-width: 0;
    white-space: nowrap;
    a {
        p {
            margin: 0;
        }
    }

}

.account-details:hover {
    cursor: pointer;
}