.wrapper {
    opacity: 0;
    animation: show-articles 0.2s ease-out 2s forwards;
    .action-button-container {
        @include flex-row(column, space-between);
        padding-left: 15px;
    }
    .right-column {
        max-width: 20%;
    }
    .account-container {
        width: 10%;
        min-width: 220px;
    }
}

@keyframes show-articles {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }