.wrapper {
  @include flex-row(row, space-between);
  padding-top: 150px;
  margin: auto auto auto auto;
  opacity: 0;
  animation: show-articles 0.2s ease-out 2s forwards;

  .right-column {
      max-width: 20%;
      position: absolute;
      top: 0;
      right: 0;
  }
  .account-container {
      width: 10%;
      min-width: 220px;
  }
}

@keyframes show-articles {
    from {
      opacity: 0;
      transform: translateY(15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }